/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 jul. 2020, 15:59:11
    Author     : Z
*/

/*Estilos por defecto*/
* {
  margin:  0;
  padding: 0;
}

/*Estilos body*/
body{
      background-image: url("img/44.jpg");
    background-repeat: no-repeat;
 background-size: cover;
  
  background-attachment:  fixed;
}

/*Estilo Header*/
.banner{
  background-image:url("img/imgbaner.png"); 
 background-repeat: no-repeat;
 background-size: 100%;
  /*height: 80vw;*/
  background-attachment:  fixed;
  

  
}
/*estilo imagen*/

.fotoper img{
     position:  relative;
     left: 25%;
     top:40vw;
      border: 2px solid black;
  border-radius: 100%;
  width: 50vw;
  z-index: 1100;

}
/*estilo centro*/

.mein{
    width: 100%;
    height: 490vw;
  overflow: hidden;
   
  
}
.maiin{
    position: relative;
  top: 28vw;
padding: 20px;
 
}


.etiq img{
  width: 100%;
   
}

.boton1{
     width: 100%;
     text-align: center;
     
     
}
.boton1 a{
    position:  relative;
    font-size:12vw;
    width: 100%;
    color:gold;
    background-color:black;
  border: 5px solid black;
  border-radius: 10%;
 top:25vw;

 
  
 
}

.fotter{
    position:  absolute;
    background-color:black;
    width: 100%;
   /* height: 10vw;*/
     color:white;
     text-align: center;
     font-size: 3em;
    
  
   
}

.foter{
    position: relative;
    top:99%;
}

 .vide{
       overflow: hidden;
      position: relative;
      left: 8%;
              z-index: 1100;
         width: 99%;
        top:25vw;
         margin-left: 6vw;
         margin-right: 6vw;
         justify-content: center;
   }
/*
/* Diseño para tabletas */ 
@media screen and (min-width: 320px) {
	/*   .banner{
 background-position-y: -10vw;
 /* height: 400px;*/
  
   /* }
    /*
.fotoper img{    
     top:30vw;
   left: 30%;
  width: 40vw;
z-index:1000;
    }
    /*
.mein{
   position: absolute;
    top:33vw;    
    width: 100%;
    
   z-index: 500;
    }*/
     
   .mein{
        height: 480vw;
   }
   .vide{
       ;
      left: 15%;
       
        
        top:35vw;
       
   }

}

/* Diseño para tabletas */ 
@media screen and (min-width: 480px) {
	/*   .banner{
 /*background-position-y: -18vw;*/
  /*height: 400px;
  background-size: contain;
    }
  */  
    .fotoper img{    
    /* top:20vw;*/
  left: 30%;
  width: 40vw;

    }
  
    .mein{
        height: 450vw;
   }
   .vide{
       
      left: 25%;
       
        
       
       
   }
   .foter{
    position: relative;
    top:99%;
}

    
}


/* Diseño para tabletas */ 
@media screen and (min-width: 768px) {
    body{
        
    }
  /* .banner{
  /*background-position-y: -18vw;*/
 /* height: 400px;*/
      /*}
  /* 
.fotoper img{    
     top:20vw;
   left: 40%;
  width: 20vw;

    }	
  */
  .banner{
      height: 40vw;
      background-position-y: -15vw;
  }
  .baner{
      
  }
  .fotoper img{
      top:24vw;
      width: 28vw;
      left: 36%;
  }
  .mein{
    
     overflow: hidden;
     width: 100%;
     height: 160vw;
  }
  .maiin{
      width: 100%;
  position: relative; 
      top:18vw;
         
  /* flex-direction:  row;  */
   display: flex; 
    justify-content:  space-between; 
     
     flex-wrap: wrap; 
              
  }
  .etiq{
    
      
    margin: 1vw;
   width: 30vw;
  
    
  
  }
  
  .etiq img{
     
      width: 27vw;
         
  }
  .boton1{
      
      position:  relative;
      top:-5%;
      z-index: 1000;
  }
  .boton1 a{
       border: 6px solid black;
      background-color: transparent;
  }
  .vide{
       ;
      left: 23%;
      width: 60vw;       
        top:20vw;
       
   }
   .vide video{
       width: 45vw;
       
   }
  .fotter{
   
   
   
     text-align: center;
     font-size: 15vw;
    
  
   
}
.foter{
    position: relative;
    top:99%;
}
}
/* Diseño para tabletas */ 
@media screen and (min-width: 1024px) {
    .banner{
 /*background-position-y: -15vw;*/
 /* height: 400px;*/
  
    }
    
    .fotoper img{    
     top:24vw;
   left: 35%;
  width: 30vw;

    }
   
    
   
  .maiin{
      width: 100%;
  position: relative; 
      top:18vw;
         
  
   display: flex; 
   /* justify-content:  space-between; */
     
     flex-wrap: nowrap;
              
  }
 
    .mein{
    
     overflow: hidden;
     width: 100%;
     height: 140vw;
  }
  .maiin{
      width: 100%;
  position: relative; 
      top:18vw;
         
  /* flex-direction:  row;  */
   display: flex; 
    /*justify-content:  space-between; */
     
     /*flex-wrap:  wrap-reverse*/  
              
  }
  article.etiq{
      position: relative;
    width: 20vw;
   
    margin-left: 1px;
   
  
  }
  
  .etiq img{
     
     width: 13.5vw;
         
  }
   
    
   .fotter{
   
   
   
     text-align: center;
     font-size: 15vw;
    
  
   
}

.foter{
    position: relative;
    top:99%;
}
}

/* Diseño para PC */ 
@media screen and (min-width: 1200px) {
    .banner{
 background-position-y: -18vw;
  /*height: 400px;*/
  
    }
      .mein{
    
    
     height: 130vw;
  }
    
.fotoper img{    
     top:22vw;
   left: 35%;
  width: 30vw;

    }
}