/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 jul. 2020, 15:59:11
    Author     : Z
*/

/*Estilos por defecto*/
* {
  margin:  0;
  padding: 0;
}

/*Estilos body*/
body{
      background-image: url("img/44.jpg");
    background-repeat: no-repeat;
 
  
  background-attachment:  fixed;
}

/*Estilo Header*/
.banner{
  background-image:url("img/imgbaner.png"); 
 background-repeat: no-repeat;
 background-size: 100%;
  /*height: 80vw;*/
  background-attachment:  fixed;
  

  
}
/*estilo imagen*/

.fotoper img{
     position:  relative;
     left: 25%;
     top:40vw;
      border: 2px solid black;
  border-radius: 100%;
  width: 50vw;

}
/*estilo centro*/
.mein{
    width: 100%;
  overflow: hidden;
   
  
}
.maiin{
  
padding: 20px;

}


.etiq img{
  width: 100%;
   
}

.boton1{
     width: 100%;
     text-align: center;
}
.boton1 a{
    position:  relative;
    font-size:10vw;
    width: 100%;
    color:gold;
    background-color:black;
  border: 4px solid black;
  border-radius: 20%;
 
 
  
 
}

.fotter{
    position:  absolute;
    background-color:black;
    width: 100%;
    height: 10vw;
     color:white;
     text-align: center;
     font-size: 2.5em;
    
  
   
}


/*
/* Diseño para tabletas */ 
@media screen and (min-width: 320px) {
	   .banner{
 background-position-y: -10vw;
 /* height: 400px;*/
  
    }
    
.fotoper img{    
     top:30vw;
   left: 30%;
  width: 40vw;
z-index:1000;
    }
    
.mein{
   position: absolute;
    top:60vw;    
    width: 100%;
    
   z-index: 500;
    }
}

/* Diseño para tabletas */ 
@media screen and (min-width: 480px) {
	   .banner{
 /*background-position-y: -18vw;*/
  height: 400px;
  background-size: contain;
    }
    
.fotoper img{    
     top:20vw;
   left: 40%;
  width: 20vw;

    }
}
/* Diseño para tabletas */ 
@media screen and (min-width: 768px) {
   .banner{
       
 /*background-position-y: -18vw;*/
 /* height: 400px;*/
  
    }
    
.fotoper img{    
     top:20vw;
   left: 40%;
  width: 20vw;

    }	
}
/* Diseño para tabletas */ 
@media screen and (min-width: 1024px) {
      .banner{
 /*background-position-y: -15vw;*/
 /* height: 400px;*/
  
    }
    
.fotoper img{    
     top:28vw;
   left: 40%;
  width: 20vw;

    }          
     
}

/* Diseño para PC */ 
@media screen and (min-width: 1200px) {
    .banner{
 background-position-y: -18vw;
  /*height: 400px;*/
  
    }
    
.fotoper img{    
     top:20vw;
   left: 40%;
  width: 20vw;

    }
}