/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 jul. 2020, 15:59:11
    Author     : Z
*/

/*Estilos por defecto*/
* {
  margin:  0;
  padding: 0;
}

/*Estilos body*/
body{
      background-color: black;
    
}


/*Estilo Header*/
.banner{
  background-image:url("img/imgbaner.png"); 
 background-repeat: no-repeat;
 background-size: 100%;
  height: 250px;
  background-attachment:  fixed;
  

  
}
.baner{
   
    
}

.cir{

    /*position: relative;
    left: 28%;
/*top: 55px;*/
}
.circulo{
 

   
 
 
}
/*
.circulo>.fotoper img{
    width: 50%;
    height: 50%;
 
}*/

.fotoper{
 
  
    
}
.fotoper img{
     position:  relative;
     left: 25%;
     top:15vw;
      border: 2px solid black;
  border-radius: 30%;
  width: 50vw;

}
.mein{
   
    
    background-attachment: fixed;
    width: 100%;
    height: 600vw;
    
}

/*
/* Diseño para tabletas */ 
@media screen and (min-width: 320px) {
	   .banner{
 background-position-y: -10vw;
  height: 400px;
  
    }
    
.fotoper img{    
     top:30vw;
   left: 30%;
  width: 40vw;
z-index:1000;
    }
    
.mein{
   position: absolute;
   /* top:60vw;*/    
    width: 100%;
    height:  auto;
   z-index: 500;
    }
}
p{
    color:white;
}
/* Diseño para tabletas */ 
@media screen and (min-width: 480px) {
	   .banner{
 background-position-y: -18vw;
  height: 400px;
  
    }
    
.fotoper img{    
     top:20vw;
   left: 40%;
  width: 20vw;

    }
}
/* Diseño para tabletas */ 
@media screen and (min-width: 768px) {
   .banner{
 background-position-y: -18vw;
  height: 400px;
  
    }
    
.fotoper img{    
     top:20vw;
   left: 40%;
  width: 20vw;

    }	
}
/* Diseño para tabletas */ 
@media screen and (min-width: 1024px) {
      .banner{
 background-position-y: -15vw;
  height: 400px;
  
    }
    
.fotoper img{    
     top:28vw;
   left: 40%;
  width: 20vw;

    }          
     
}

/* Diseño para PC */ 
@media screen and (min-width: 1200px) {
    .banner{
 background-position-y: -18vw;
  height: 400px;
  
    }
    
.fotoper img{    
     top:20vw;
   left: 40%;
  width: 20vw;

    }
}